body{
	background-image: url("imagen/fondo.jpg");
	background-size: 10%;
}
.operacion{
	margin-top: 10%;
	margin-left: 15%;
	background-color: #F8C1B6;
	margin-right: 60%;

}
#resultado{
	display: block;
	text-align: center;
	font-size: 40px;
	margin-bottom: 50px;
	width: 300px;
	height: 100px;
	line-height: 100px;
	background-color: #e4e4e4;
	border-radius: 25px;
	overflow-y: scroll;
	margin-top: 10%;
}
.texto{
	margin-left: 43%;
	margin-bottom:40%;
	margin-right: 10%;
	text-align: center;
	margin-top:-400px;
	background-color: #F8C1B6;
}